/* ----------------- Reset Style ----------------- */
@import url("https://fonts.googleapis.com/css?family=Gugi|Roboto");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------- base style  ----------------- */
/* --- variables --- */
/* --- default element style --- */
body {
  background: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.2em;
  font-family: "Gugi", cursive;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 1em 0;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h2 span {
  color: #f26522;
}

h3 {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 15px 0;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 3px solid #f26522;
}

h4 {
  font-size: 1em;
  margin-bottom: 5px;
}

p {
  font-size: 0.9em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

textarea {
  resize: none;
  margin-bottom: 0.9em;
}

button:focus {
  outline-width: 0;
  outline: transparent;
  outline-style: none;
}

/* --- sass mixin and styling --- */
.rightSide, .leftSide {
  width: calc(100%/2);
  position: fixed;
  top: 0;
  bottom: 0;
}
@media (max-width: 991.98px) {
  .rightSide, .leftSide {
    width: 100%;
    position: relative;
  }
}

.rightSide .rightContent .content .social-tab ul li, .leftSide .leftContent .social-tab ul li {
  padding: 5px;
}
.rightSide .rightContent .content .social-tab ul li a, .leftSide .leftContent .social-tab ul li a {
  padding: 0.5em;
}
.rightSide .rightContent .content .social-tab ul li a:hover, .leftSide .leftContent .social-tab ul li a:hover {
  color: #f26522;
}
.rightSide .rightContent .content .social-tab ul li a i, .leftSide .leftContent .social-tab ul li a i {
  padding: 5px;
  transition: all 0.2s;
  display: inline-block;
}

/* --- common style --- */
.container-fluid {
  padding: 0;
}

.form-group .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.btn {
  color: black;
  background: #f26522;
  outline: 0;
  border: 0;
  padding: 10px 20px;
}
.btn:hover, .btn:focus {
  background: black;
  color: #f26522;
}

.close {
  font-size: 39px;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.close:hover {
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transform: rotate(90deg);
}

.nav-item .nav-link {
  color: black;
}
.nav-item.active .nav-link, .nav-item:hover .nav-link {
  color: #f26522;
}

.titleWrap {
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  z-index: 1111;
  animation: fade-out-effect 6s forwards;
}
.loader .loaderContent {
  position: absolute;
  top: 50%;
  margin-top: -10%;
  left: 0;
  right: 0;
  padding: 2em;
  text-align: center;
  /* The loader cursor effect */
}
.loader .loaderContent h3 {
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.1em solid #f26522;
  border-bottom: none;
  animation: blink-caret 0.3s step-end infinite, fade-out-effect 4s forwards;
}
@keyframes blink-caret {
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #f26522;
  }
}
@keyframes fade-out-effect {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

.leftSide {
  left: 0;
}
.leftSide .leftContent {
  position: absolute;
  padding: 5em 4em;
  height: 100%;
}
.leftSide .leftContent .mainBtn {
  color: white;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: absolute;
  font-size: 1.25em;
  cursor: pointer;
  letter-spacing: 0.07em;
  margin-left: -15px;
  transition: all 0.4s;
  bottom: 6em;
}
.leftSide .leftContent .mainBtn .text {
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.leftSide .leftContent .mainBtn:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #f26522;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.leftSide .leftContent .mainBtn:hover {
  margin-left: 0;
}
.leftSide .leftContent .mainBtn .line {
  position: absolute;
  background: #f26522;
}
.leftSide .leftContent .mainBtn .line.-right, .leftSide .leftContent .mainBtn .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
.leftSide .leftContent .mainBtn .line.-top, .leftSide .leftContent .mainBtn .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.leftSide .leftContent .mainBtn .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.leftSide .leftContent .mainBtn .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.leftSide .leftContent .mainBtn .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.leftSide .leftContent .mainBtn .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}
.leftSide .leftContent .mainBtn:hover .text,
.leftSide .leftContent .mainBtn:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.leftSide .leftContent .mainBtn:hover:after,
.leftSide .leftContent .mainBtn:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.leftSide .leftContent .mainBtn:hover .line,
.leftSide .leftContent .mainBtn:active .line {
  transform: scale3d(1, 1, 1);
}
.leftSide .leftContent .mainBtn:hover .line.-right,
.leftSide .leftContent .mainBtn:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.leftSide .leftContent .mainBtn:hover .line.-top,
.leftSide .leftContent .mainBtn:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.leftSide .leftContent .mainBtn:hover .line.-left,
.leftSide .leftContent .mainBtn:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.leftSide .leftContent .mainBtn:hover .line.-bottom,
.leftSide .leftContent .mainBtn:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}
.leftSide .leftContent .social-tab {
  font-size: 15px;
  position: absolute;
  bottom: 4em;
}
.leftSide .leftContent .social-tab ul {
  margin-left: 15px;
}
.leftSide .leftContent .social-tab ul li a {
  color: white;
}
.leftSide .leftContent .social-tab ul li a:hover {
  color: #f26522;
}
.leftSide .leftContent .social-tab ul li a i:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.leftSide .leftContent .social-tab label {
  padding: 12px 0;
}

.rightSide {
  -webkit-transition: 0.8s;
  -ms-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  right: 0;
  left: auto;
}
.rightSide .bgImgWrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg-img.jpg);
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.rightSide .rightContent {
  -webkit-transition: 0.8s;
  -ms-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  background: white;
  color: #999999;
  position: absolute;
  z-index: 1;
  left: 100%;
}
.rightSide .rightContent .content {
  padding: 1.5em 1em;
}
.rightSide .rightContent .content .profileImg {
  width: 124px;
  height: 124px;
  overflow: -webkit-paged-x;
  line-height: 124px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.rightSide .rightContent .content .profileImg img {
  height: 100%;
}
.rightSide .rightContent .content .social-tab ul li a {
  color: black;
}
.rightSide .rightContent .content .social-tab label {
  padding: 12px 0;
}
.rightSide .rightContent .content .projectWrap .row {
  padding: 0 1em;
}
.rightSide .rightContent .content .projectWrap .projectList {
  padding: 1em;
}
.rightSide .rightContent .content .projectWrap .projectList .project {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.rightSide .rightContent .content .projectWrap .projectList .project .projectImgWrap {
  display: block;
  overflow: hidden;
  cursor: url("../images/icon-zoom.png"), pointer;
}
.rightSide .rightContent .content .projectWrap .projectList .project .projectImgWrap img {
  width: 100%;
}
.rightSide .rightContent .content .projectWrap .projectList .project .projectSnippet {
  padding: 1em;
}
.rightSide .rightContent .content .projectWrap .projectList .project .projectSnippet .name {
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
  display: inline-block;
}
.rightSide .rightContent .content .projectWrap .projectList .project .projectSnippet .type {
  color: #f26522;
  font-size: 12px;
  display: block;
}
.rightSide .rightContent .content .projectWrap .projectList .project:hover {
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  transform: scale(1.04);
}

.footerWrap {
  padding: 1em 2.5em;
  font-size: 16px;
}
.footerWrap span {
  color: #f26522;
}

.desktop .loader .loaderContent {
  margin-top: -5%;
}
.desktop .leftside .leftContent {
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  transform: translateX(20px);
}
.desktop .leftside .leftContent h1,
.desktop .leftside .leftContent h2 {
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.desktop .leftside.contract .leftContent {
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  transform: translateX(-20px);
}
.desktop .leftside.contract .leftContent h1 {
  font-size: 1.9em;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.desktop .leftside.contract .leftContent h2 {
  font-size: 1.2em;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.desktop .rightSide.expand {
  position: absolute;
}
.desktop .rightSide.expand .rightContent {
  -webkit-transition: 0.8s;
  -ms-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  left: -30%;
  z-index: 3;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
}
.desktop .rightSide.expand .rightContent .content .profileInfoWrap {
  margin-bottom: 15px;
}

.mobile .leftSide,
.tablet .leftSide {
  display: none;
}
.mobile .close,
.tablet .close {
  display: none;
}
.mobile .navbar,
.tablet .navbar {
  -webkit-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: url("../images/bg-color.png") repeat;
  z-index: 1;
}
.mobile .navbar .navbar-nav,
.tablet .navbar .navbar-nav {
  text-align: center;
}
.mobile .rightSide,
.tablet .rightSide {
  background: #ffffff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.mobile .rightSide .bgImgWrap,
.tablet .rightSide .bgImgWrap {
  display: none;
}
.mobile .rightSide .rightContent,
.tablet .rightSide .rightContent {
  position: relative;
  left: 0;
}
.mobile .rightSide .rightContent .content .profileInfoWrap,
.mobile .rightSide .rightContent .content .profileImg,
.tablet .rightSide .rightContent .content .profileInfoWrap,
.tablet .rightSide .rightContent .content .profileImg {
  margin-bottom: 15px;
}
.mobile.landscape .mainBtn,
.mobile.landscape .social-tab,
.tablet.landscape .mainBtn,
.tablet.landscape .social-tab {
  position: relative;
  bottom: auto;
}
.mobile .hamburger,
.tablet .hamburger {
  margin: 0 auto;
  -webkit-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.mobile .footerWrap,
.tablet .footerWrap {
  padding: 0.6em;
}
.mobile .footerWrap p,
.tablet .footerWrap p {
  margin-bottom: 0;
}

/* --- Ninja Slider CSS --- */
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery .my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery .my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery .my-gallery figcaption {
  display: none;
}

#ninja-slider .caption {
  padding: 1em;
}
#ninja-slider .caption h6 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
#ninja-slider .caption p {
  font-size: 1em;
}

/* --- Verticle Timeline --- */
.timeline {
  overflow: hidden;
  margin: 0 auto;
  background: #e9f0f5;
}

.timelineContainer {
  position: relative;
  max-width: 1170px;
  margin: 2em auto;
}

.timelineContainer::before {
  /* this is the vertical line */
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.timelineBlock {
  position: relative;
  margin: 2em 0;
}

.timelineBlock:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.timelineBlock:first-child {
  margin-top: 0;
}

.timelineBlock:last-child {
  margin-bottom: 0;
}

.timelineImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #3b3333;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.timelineImg img {
  display: block;
  width: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -8px;
}

.timelineContent {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}

.timelineContent:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.timelineContent::before {
  /* triangle next to content block */
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.timelineContent .title {
  color: #303e49;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.timelineContent .degree {
  font-size: 1em;
  margin-bottom: 5px;
  color: #f26522;
}

.timelineContent .location,
.timelineDate {
  font-size: 0.8em;
  margin-bottom: 5px;
  display: block;
}

.timelineDate {
  display: inline-block;
}

.timelineDate {
  float: left;
  padding: 0.8em 0;
  opacity: 0.7;
}

.mCSB_inside > .mCSB_container {
  margin-right: 15px;
}

@media only screen and (min-width: 1170px) {
  .timelineContainer::before {
    left: 50%;
    margin-left: -2px;
  }

  .timelineBlock {
    margin: 3em 0;
  }

  .timelineImg {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .timelineImg.timelineImg--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }

  .timelineContent {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .timelineContent::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .timelineDate {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1rem;
  }

  .timelineBlock:nth-child(even) .timelineContent {
    float: right;
  }

  .timelineBlock:nth-child(even) .timelineContent::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .timelineBlock:nth-child(even) .timelineDate {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .timelineContent.timelineContent--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }

  /* inverse bounce effect on even content blocks */
  .timelineBlock:nth-child(even) .timelineContent.timelineContent--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@media only screen and (min-width: 768px) {
  .timelineContent .title {
    font-size: 1.5rem;
  }

  .timelineContent .degree {
    font-size: 1rem;
  }

  .timelineDate {
    font-size: 0.9rem;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
